* {
  font-family: 'Roboto', sans-serif;
}

body main {
  display: grid;
  width: 100%;
  grid-template-columns: 0.4fr auto;
}

main .p5Canvas {
  margin: 0 auto;
  padding: 25px;
}

.sidebar {
  padding: 25px;
  background-color: #f0f2f6;
  height: calc(100vh - 50px);
}

.sidebar h1 {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.sidebar h2 {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
};
